.flex-container {
  display: flex;
  background-color: DodgerBlue;
  /*flex-direction: row-reverse;*/
}
.flex-container > div {
  background-color: purple;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}

