#content {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
.box {
  flex-grow: 2;
  border: 3px solid rgba(0, 0, 0, 0.2);
}
.box1 {
  flex-grow: 2;
  border: 3px solid rgba(0, 0, 0, 0.2);
}
