.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.flex-item:nth-of-type(1) {
  order: 3;
}
.flex-item:nth-of-type(2) {
  order: 4;
}
.flex-item:nth-of-type(3) {
  order: 1;
}
.flex-item:nth-of-type(4) {
  order: 5;
}
.flex-item:nth-of-type(5) {
  order: 2;
}

.flex-item {
  background: tomato;
  padding: 5px;
  width: 100px;
  height: 100px;
  margin: 5px;

  line-height: 100px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
