.flex-container {
  width: 250px;
  height: 140px;
  padding: 5px;
  margin: 10px auto;
  background-color: #124678;
  display: flex;
}

.flex-item {
  display: inherit;
  width: 50px;
  /*height: 50px;*/
  background-color: rgb(245, 77, 175);
  margin: 5px;
}

.flex-item p {
  width: 100%;
  text-align: center;
  align-self: center;
  margin: 0;
}

.flex-container.wrap {
  flex-wrap: wrap;
  /*justify-content: flex-end;*/
  /*justify-content: flex-start;*/
  /*justify-content: center;*/
  /*justify-content: space-between;*/
  justify-content: center;
  align-items: stretch;
}
